.Rproj.user
.Rhistory
.RData
.Ruserdata
Italian_coronav_tweets_2402.RData
coronavirus_piemonte.RData
coronavirus_veneto.RData
coronavirus_lombardia.RData
Italian_coronav_tweets_2402_b.RData
coronavirus_lombardia1.RData
coronavirus_veneto1.RData
coronavirus_piemonte1.RData
